---
version: '2.1'

services:
  pdf-service-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmcts.azurecr.io/hmcts/cmc-pdf-service
    environment:
      # used by java-logging library
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
    volumes:
      - ./build/install/pdf-service:/opt/app/
    ports:
      - $SERVER_PORT:$SERVER_PORT
