spring:
  application:
    name: "pdf-service"
  config:
    import: "optional:configtree:/mnt/secrets/rpe-shared/"

server:
  port: 5500

management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /
  endpoint:
    health:
      show-details: always
